In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('standard-element-concentrations.csv')

In [3]:
df

,mineral,Si,Ti,Al,Fe,Mg,Ca,P,Cr,Ni,S
0,quartz,46.7400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sphene,14.3300,24.4300,NaN,NaN,NaN,20.44,NaN,NaN,NaN,NaN
2,anorthite,20.6100,0.0060,18.770,0.360,0.0500,13.9,0.01,NaN,NaN,NaN
3,diopside,25.9420,0.0180,0.021,0.086,11.2160,18.582,NaN,NaN,NaN,NaN
4,MgAl2O4,NaN,NaN,37.930,NaN,17.0900,NaN,NaN,NaN,NaN,NaN
5,Al2O3,NaN,NaN,52.930,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,albite,32.1300,NaN,10.250,0.050,NaN,NaN,NaN,NaN,NaN,NaN
7,augite,23.6000,0.3100,3.990,3.650,10.4400,12.36,NaN,0.58,NaN,NaN
8,enstatite,27.9700,NaN,NaN,NaN,24.2200,some (0.15 CaO),NaN,NaN,NaN,NaN
9,ilmenite,NaN,27.4000,NaN,36.168,0.1869,NaN,NaN,NaN,NaN,NaN
10,Scolv,19.0800,NaN,NaN,7.420,29.8000,0.02,NaN,NaN,0.29,NaN
11,TiO2,NaN,59.9500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,wollastonite,24.1772,NaN,NaN,NaN,NaN,34.5026,NaN,NaN,NaN,NaN
13,perovskite,NaN,35.2258,NaN,NaN,NaN,29.475,NaN,NaN,NaN,NaN
14,kspar,30.1000,NaN,9.830,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,V grossular,18.0900,0.1500,11.060,0.040,0.3000,25.09,NaN,0.13,NaN,NaN
16,pyrope,19.7100,0.2300,12.200,7.400,11.6900,3.82,NaN,0.08,NaN,NaN
17,wakefield diopside,25.9420,0.0180,0.021,0.086,11.2160,18.582,NaN,NaN,NaN,NaN
18,NiS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.80,38.20
19,kak hornblende,18.8700,2.8300,7.890,8.490,7.7200,7.36,NaN,NaN,NaN,NaN
20,Ni-diopside,24.9100,NaN,0.450,0.120,8.6200,17.87,NaN,NaN,5.06,NaN
21,fayalite rockport,13.6570,0.0240,NaN,52.505,NaN,NaN,NaN,NaN,NaN,NaN
22,FeS (troilite),NaN,NaN,NaN,63.530,NaN,NaN,NaN,NaN,NaN,36.47
23,ZnS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.91